<!-- ------------------------------left side bar start-- --------------------------->
<div id="mySidenav" class="sidenav" style="margin-top: 10px">
        <a href="javascript:void(0)" class="closebtn" onclick="cNav()">&times;</a>
      
        <a routerLink="/home">Home</a>
        <a routerLink="/allsongs">All Songs</a>
        <a routerLink="/allalbums">Albums</a>
        <a href="#">Artists</a>
        <a routerLink="/favourites">My Favourities</a>
        
      
      </div>
      
      <div  style="background-color: black; height: 50px;">
          <span style="font-size:25px;cursor:pointer;padding-top: 10px; color: aliceblue; float: left;" onclick="oNav()">&#9776; Menu
         </span> 
      
          
         <h5 style="color: aliceblue; font-size: 40px; margin-left: 350px;padding-top: 5px">KAKAKI MUSIC APP
            <button type="button" class="btn btn-default btn-sm" style="float: right; padding: 10px">
                <span routerLink="" class="glyphicon glyphicon-log-out"> Logout</span>
              </button>
        </h5>
       
        </div>
      
    <!-- side bar enddd ----------------------------------------------------------------------------------------------------------   -->
    
    


<div class="container">
    <div class="browse">
        <div class="tittle-head two">
            <h3 class="tittle">All Songs <span class="new">New</span></h3>
            <div class="clearfix"> </div>
        </div>

        <div class="container" >
            <div class="col-md-10 browse-grid" *ngFor="let song of songs">
                <a routerLink="/songdetails"><img src="{{ song.image }}" class="img-responsive" width="100px" height="100px"></a>
                <a routerLink="/songdetails"><i class="glyphicon glyphicon-play-circle"></i></a>
                <a class="sing" routerLink="/songdetails">{{ song.songName }}</a>
            </div>
            
        </div>
    </div>
</div>