<!-- ------------------------------left side bar start-- --------------------------->
<div id="mySidenav" class="sidenav" style="margin-top: 10px">
        <a href="javascript:void(0)" class="closebtn" onclick="cNav()">&times;</a>
      
        <a routerLink="/home">Home</a>
        <a routerLink="/allsongs">All Songs</a>
        <a routerLink="/allalbums">Albums</a>
        <a href="#">Artists</a>
        <a routerLink="/favourites">My Favourities</a>
        
      
      </div>
      
      <div  style="background-color: black; height: 50px;">
          <span style="font-size:25px;cursor:pointer;padding-top: 10px; color: aliceblue; float: left;" onclick="oNav()">&#9776; Menu
         </span> 
      
          
         <h5 style="color: aliceblue; font-size: 40px; margin-left: 350px;padding-top: 5px">KAKAKI MUSIC APP
            <button type="button" class="btn btn-default btn-sm" style="float: right; padding: 10px">
                <span routerLink="" class="glyphicon glyphicon-log-out"> Logout</span>
              </button>
        </h5>
       
        </div>
      
    
    <!-- side bar enddd ----------------------------------------------------------------------------------------------------------   -->
    
    


<div class="container">
        <div class="browse">
            <div class="tittle-head two">
                <h3 class="tittle">Artist<span class="new">New</span></h3>
                <div class="clearfix"> </div>
            </div>
    
            <div class="container" >
                <div class="col-md-10 browse-grid" *ngFor="let artist of artists">
                    <a href="single.html"><img src="{{ artist.image }}" class="img-responsive" width="100px" height="100px"></a>
                    <a href="single.html"><i class="glyphicon glyphicon-play-circle"></i></a>
                    <a class="sing" href="single.html">{{ artist.artist }}</a>
                </div>
                
            </div>
        </div>
    </div>